.banner {
  background-image: url(../../images/titre.jpeg);
  color: black;
  padding: 150px 0px;
  background-size: cover;
  background-position: center;
}

.banner h1 {
  color: black;
  font-size: 50px;
}
